//定义变量
$color-g:green;
$color-w:white;
$color-r:red;
$font-style:Verdana;
$font-size:6px;

//重置默认样式
body,ul,li,p{
  margin:0;
  padding:0;
}

//定义边框重用
@mixin border($style,$width,$color,$radius) {
          border-style: $style;
          border-width: $width;
          border-color: $color;
          border-radius: $radius;
}

//定义字体mixin
@mixin font($size,$color){
  font-size:$size;
  color:$color;
}

//页面容器
.container{
  background-color:$color-w;
}


.circle{
    width:300px;
    height:200px;
    margin:20px auto 0px auto;
    box-sizing:border-box;
    background-color:$color-r;
    p{
      @include font($font-size*5,$color-w)
      text-align:center;
      margin-top:50px;
    }
    @include border(solid,15px 15px 0px 15px,gray,50% 50% 0 0)
}

.content{
  width:300px;
  box-sizing:border-box;
  position:relative;
  top:-80px;
  z-index:2;
  background-color:$color-w;
  @include border(solid,0px 15px 15px 15px,gray,0 0 0 0)
  margin:0px auto;
  .board{
    margin:20px 5px;
    padding-top:10px;
    @include border(solid,1px,gray,0 0 0 0)
    .info{
      .car-info{
        width:30%;
        display:inline-block;
        .car-info-num{
          @include font($font-size*4,$color-w)
          text-align:center;
          display:block;
          background-color:$color-r;
        }
        .car-info-time{
          font-size:$font-size;
          display:block;
        }
      }
      .addr-info{
        width:65%;
        display:inline-block;
        vertical-align: top;
        text-align:center;
        .addr-info-direction{
          @include font($font-size*2,$color-g)
        }
        .addr-info-position{
          @include font($font-size*2,$color-r)
        }
      }
    }
    .station{
      background-color:$color-g;
      li{
        list-style:none;
        display:inline-block;
        width:10px;
        @include font($font-size,$color-w)
      }
      .on{
        color:$color-r;
      }
    }
    .footer{
      position:relative;
      .line{
        display:block;
        width:200px;
        height:3px;
        margin: 5px auto;
        background-color:$color-r;
      }
      .arrow{
        display:inline-block;
        position: absolute;
        top: 11px;
        left: 216px;
        transform:rotateZ(27deg);
        @include border(solid,5px 10px 10px 10px,$color-r transparent transparent transparent,0 0 0 0)
      }
      .price{
        text-align:center;
        font-size:$font-size;
      }
    }
  }
   
}

