<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>百度新闻</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/normalize/4.1.1/normalize.min.css">
    <link rel="stylesheet" href="../stylesheets/news.css">
    <script src="../javascripts/jquery.min.js"></script>
    <script src="../javascripts/news.js"></script>
</head>
<body>
    <div class="container">
        <nav>
            <ul class="nav_item">
                <li class="active">首页</li>
                <li>科技</li>
                <li>财经</li>
                <li>军事</li>
                <li>娱乐</li>
                <li>体育</li>
            </ul>
        </nav>
        <div class="new_content">
            <div class="swiper">
                <div id="img_swiper">
                    <ul>
                        <li><a href=""><img src="../images/demo.jpg" alt="" id="img1"></a></li>
                        <li><a href=""><img src="../images/demo1.jpg" alt="" id="img2"></a></li>
                        <li><a href=""><img src="../images/demo3.jpg" alt="" id="img3"></a></li>
                    </ul>
                </div>
                <ul class="num">
                    <li class="num_active"></li>
                    <li></li>
                    <li></li>
                </ul>
                <div class="btnrl">
                    <span id="news_btnl">&lt;</span>
                    <span id="news_btnr">&gt;</span>
                </div>
            </div>
            <div class="news_list">
                <!--<a href="" class="news_item">-->
                    <!--<div class="newsimg"><img src="../img/demo3.jpg" alt=""></div>-->
                    <!--<div class="news_detail">-->
                        <!--<h3 class="newstitle">这个仅仅是一个测试</h3>-->
                        <!--<p class="newscontent">这个仅仅是一个测试这个仅仅是一个测试这这个仅仅是一个测这个仅仅是一个测试这个仅仅是一个测试这个仅仅是一个测试这个仅仅是一个测试这个仅仅是一个测试这个仅仅是一个测试这个仅仅是一个测试这个仅仅是一个测试这个仅仅是一个测试这个仅仅是一个测试这个仅仅是一个测个仅仅是一个测试这个仅仅是一个测试这个仅仅是一个测试这个仅仅是一个测试这个仅仅是一个测试这个仅仅是一个测试</p>-->
                        <!--<p><span class="newssort">体育</span><span class="newsadddate">2016-02-24 9:45:00</span></p>-->
                    <!--</div>-->
                <!--</a>-->
                <!--<a href="" class="news_item">-->
                    <!--<div class="newsimg"><img src="../img/demo3.jpg" alt=""></div>-->
                    <!--<div class="news_detail">-->
                        <!--<h3 class="newstitle">这个仅仅是一个测试</h3>-->
                        <!--<p class="newscontent">这个仅仅是一个测试这个仅仅是一个测试这个仅仅是一个测试这个仅仅是一个测试这个仅仅是一个测试这个仅仅是一个测试这个仅仅是一个测试这个仅仅是一个测试</p>-->
                        <!--<p><span class="newssort">体育</span><span class="newsadddate">2016-02-24 9:45:00</span></p>-->
                    <!--</div>-->
                <!--</a>-->
            </div>
            <div>
                <p class="loadmore" data-content="home">点击加载更多数据！</p>
            </div>
            <div class="news_pannel">
                <h3 class="title"></h3>
                <div class="img"></div>
                <p class="news"></p>
                <p class="newsinfo"><span class="sort"></span><span class="date"></span></p>
            </div>
        </div>
    </div>
</body>
</html>