.top {
    text-align: center;
    height: 30px;
}
li {
    float: left; /*让列表横向排列*/
    list-style-type: none; /*去掉li标签前的点*/
    margin-right: 20px;
    font-size: 13px;
    font-weight: bold;
}
.top a {
    color: black;
}
.center {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 300px;
    /*display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;*/
}
.input {   /*设置整个表单div的位置*/
    height: 60px;
    width: 644px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.form {
    height: 37px;
    width: 641px;
}
#input1 {    /*设置文本输入框的样式*/
    width: 539px;
    height: 34px;
    border: 1px solid;
    padding: 0px;
    float: left;
    border-color: hsla(0, 0%, 30%, 0.42);
}
input:active {
    border-color: blue;  /*当有输入时让输入框变成蓝色*/
}
#input2 {     /*设置百度按钮的样式*/
    width: 100px;
    height: 36px;
    border: 1px solid;
    float: left;
    border-color: #2d78f4;
    background-color: #3385ff;
}
.footer {    /*设置整个底部的div样式*/
    height: 60px;
    width: 620px;
    margin-right: auto;
    margin-left: auto;
    /* 使底部div水平居中对齐 */
    margin-top: 270px;
    margin-bottom: 70px;
}
.png {    /*设置二维码图片的宽高*/
    width: 60px;
    height: 60px;
}
.QR_code {   /*设置二维码图片的样式*/
    width: 60px;
    float: left;
    font: 12px arial;
    color: #4c4c4c;
    font-weight: bold;
}
.qr_text{    /*设置二维码右侧文字的样式*/
    float: left;
    width: 60px;
    text-align: center;
    font-size: 12px;
    color: black;
    margin-top: 10px;
}
.xuke{   /*设置底层许可div的样式*/
    float: left;
    margin-left: 30px;
    height: 60px;
    padding-top: 30px;
    color: #999;
}
.xuke a,.xuke span {
    font: 12px arial;
    color: #999;
}/*设置底部许可的字体和颜色*/



