<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>hao123上网从这里开始</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/hao123.css">
</head>

<body>
    <div class="container">
    <!-- 顶部的hao123工具栏 -->
        <header>
            <div class="top_bar">
            <!-- 顶部hao123工具条 -->
                <div class="top_bar_content">
                    <div class="logo">
                        <img src="../img/hao123.png">
                    </div>
                    <span id="home">设为首页</span>
                    <div class="title_items1">
                        <a href="#" class="title_items1_a">
                            <span id="location">北京</span>
                            <span id="dropdown"></span>
                        </a>
                        <a href="#" class="title_items1_a">
                            <span id="weather_img"></span>
                            <span id="weather_info">晴</span>
                            <span id="tmp">3</span>
                        </a>
                        <a href="#" class="title_items1_a">
                            <span id="date">2016-4-20</span>
                            <span id="week">周五</span>
                        </a>
                        <a href="#" class="title_items1_a">
                            <span id="star">星座</span>
                        </a>
                    </div>
                    <div class="title_items3">
                        <img src="../img/kaiyingyouxi20160422.jpg">
                    </div>
                    <div class="title_items2">
                        <a href=""><span id="login">登陆</span></a>
                        <a href=""><span id="email">邮箱</span></a>
                        <a href=""><span id="color">换肤</span></a>
                    </div>
                </div>
            </div>
            <!-- 顶部搜索区 -->
            <div class="search">
                <div class="bd_logo">
                    <a href="www.baidu.com"></a>
                </div>
                <form class="search_form">
                    <input type="text" id="form_text"></input>
                    <input type="button" value="百度一下" id="form_btn"></input>
                </form>
                <ul id="color_select">
                    <li id="color1"></li>
                    <li id="color2"></li>
                    <li id="color3"></li>
                    <li id="color4"></li>
                </ul>
            </div>
            <div class="search_item">
                <ul>
                    <li>北京天气</li>
                    <li>NBA</li>
                    <li>中泰铁路生变</li>
                    <li>张雨绮宋钟基</li>
                    <li>儿子拒见霆锋</li>
                    <li>幼女被迫嫁人</li>
                    <li>1.9亿变1.9万</li>
                </ul>
            </div>
        </header>
    <!-- 中间的内容区域 -->
        <article>
        <!-- 内容区域的主导航栏，主题颜色显示区 -->
            <nav id="main_nav">
                <ul id="nav_ul">
                    <li id="selected"><a href=""><span id="selected_span">首页</span></a></li>
                    <li><a href=""><span>电视剧</span></a></li>
                    <li><a href=""><span>最新电影</span></a></li>
                    <li><a href=""><span>新闻头条</span></a></li>
                    <li><a href=""><span>八卦娱乐</span></a></li>
                    <li><a href=""><span>军事热点</span></a></li>
                    <li><a href=""><span>热门游戏</span></a></li>
                    <li><a href=""><span>小游戏</span></a></li>
                    <li><a href=""><span>今日特价</span></a></li>
                    <li><a href=""><span>特价旅游</span></a></li>
                    <li><a href=""><span>生活服务</span></a></li>
                </ul>
            </nav>
            <div class="left-content">
                <div class="left-content_img"><img src="../img/left-content-img1.jpg"></div>
                <div class="left-content_menu">
                    <li><span class="left-content_menu_png1"></span>
                        <a href="">电影</a>
                        <a href="">直播</a>
                    </li>
                    <li><span class="left-content_menu_png2"></span>
                        <a href="">动漫</a>
                        <a href="">漫画</a>
                    </li>
                    <li><span class="left-content_menu_png3"></span>
                        <a href="">头条</a>
                        <a href="">军事</a>
                    </li>
                    <li><span class="left-content_menu_png4"></span>
                        <a href="">旅游</a>
                        <a href="">音乐</a>
                    </li>
                    <li><span class="left-content_menu_png5"></span>
                        <a href="">彩票</a>
                        <a href="">股票</a>
                    </li>
                    <li><span class="left-content_menu_png6"></span>
                        <a href="">搞笑</a>
                        <a href="">小说</a>
                    </li>
                    <li><span class="left-content_menu_png7"></span>
                        <a href="">特价</a>
                        <a href="">手机</a>
                    </li>
                    <li><span class="left-content_menu_png8"></span>
                        <a href="">教育</a>
                        <a href="">理财</a>
                    </li>
                    <li><span class="left-content_menu_png9"></span>
                        <a href="">电视剧</a>
                        <a href="">综艺</a>
                    </li>
                    <li><span class="left-content_menu_png10"></span>
                        <a href="">游戏</a>
                        <a href="">小游戏</a>
                    </li>
                </div>
                <!--  <div class="left-content-tools"></div>
                <div class="left-content-nav"></div> -->
            </div>
            <div class="content">
                <div class="content_1">
                    <ul id="content_1_ul1">
                        <li>
                            <a href="" class="content_1_png1"></a>
                            <a href="">百度</a>
                            <a href="">贴吧</a>
                        </li>
                        <li>
                            <a href="" class="content_1_png2"></a>
                            <a href="">新浪</a>
                            <a href="">微博</a>
                        </li>
                        <li>
                            <a href="" class="content_1_png3"></a>
                            <a href="">搜狐</a>
                            <a href="">视频</a>
                        </li>
                        <li>
                            <a href="" class="content_1_png4"></a>
                            <a href="">腾讯</a>
                        </li>
                        <li>
                            <a href="" class="content_1_png5"></a>
                            <a href="">网易</a>
                        </li>
                        <li>
                            <a href="" class="content_1_png6"></a>
                            <a href="">优酷网</a>
                        </li>
                        <li>
                            <a href="" class="content_1_png7"></a>
                            <a href="">天猫</a>
                        </li>
                        <li>
                            <a href="" class="content_1_png8"></a>
                            <a href="">凤凰网</a>
                        </li>
                        <li>
                            <a href="" class="content_1_png9"></a>
                            <a href="">淘宝网</a>
                        </li>
                        <li>
                            <a href="" class="content_1_png10"></a>
                            <a href="">免费游戏</a>
                        </li>
                        <li>
                            <a href="" class="content_1_png11"></a>
                            <a href="">4399游戏</a>
                        </li>
                        <li>
                            <a href="" class="content_1_png12"></a>
                            <a href="">汽车之家</a>
                        </li>
                        <li>
                            <a href="" class="content_1_png13"></a>
                            <a href="">新华</a>
                            <a href="">人民</a>
                        </li>
                        <li>
                            <a href="" class="content_1_png14"></a>
                            <a href="">京东商城</a>
                        </li>
                        <li>
                            <a href="" class="content_1_png15"></a>
                            <a href="">聚划算</a>
                        </li>
                        <li>
                            <a href="" class="content_1_png16"></a>
                            <a href="">今日特价</a>
                        </li>
                        <li>
                            <a href="" class="content_1_png17"></a>
                            <a href="">hao123影视</a>
                        </li>
                        <li>
                            <a href="" class="content_1_png18"></a>
                            <a href="">彩票开奖</a>
                        </li>
                    </ul>
                    <span class="fengexian"></span>
                    <ul id="content_1_ul2">
                        <li>
                            <a href="">东方财富</a>
                            <a href="">理财</a>
                        </li>
                        <li>
                            <a href="">58同城</a>
                        </li>
                        <li>
                            <a href="">搜房网</a>
                        </li>
                        <li>
                            <a href="">携程旅游网</a>
                        </li>
                        <li>
                            <a href="">百度地图</a>
                        </li>
                        <li>
                            <a href="">12306</a>
                            <a href="">旅游</a>
                        </li>
                        <li>
                            <a href="">聚美优品</a>
                        </li>
                        <li>
                            <a href="">赶集网</a>
                        </li>
                        <li>
                            <a href="">易车网</a>
                        </li>
                        <li>
                            <a href="">去哪儿网</a>
                        </li>
                        <li>
                            <a href="">工商银行</a>
                        </li>
                        <li>
                            <a href="">天涯社区</a>
                        </li>
                        <li>
                            <a href="">唯品会</a>
                        </li>
                        <li>
                            <a href="">同城旅游网</a>
                        </li>
                        <li>
                            <a href="">途牛旅游网</a>
                        </li>
                        <li>
                            <a href="">中国移动</a>
                        </li>
                        <li>
                            <a href="">太平洋汽车</a>
                        </li>
                        <li>
                            <a href="">斗鱼TV</a>
                        </li>
                        <li>
                            <a href="">hao到家</a>
                        </li>
                        <li>
                            <a href="">直播吧</a>
                        </li>
                        <li>
                            <a href="">中华英才网</a>
                        </li>
                        <li>
                            <a href="">在线学习</a>
                        </li>
                        <li>
                            <a href="">萌主页</a>
                            <a href="">动漫</a>
                        </li>
                        <li>
                            <a href="">哔哩哔哩</a>
                        </li>
                        <li>
                            <a href="">苏宁易购</a>
                        </li>
                        <li>
                            <a href="">国美在线</a>
                        </li>
                        <li>
                            <a href="">购物大全</a>
                        </li>
                        <li>
                            <a href="">一号店</a>
                        </li>
                        <li>
                            <a href="">爱淘宝</a>
                        </li>
                        <li>
                            <a href="">海淘</a>
                            <a href="">手机</a>
                        </li>
                    </ul>
                </div>
            </div>
        </article>
        <footer></footer>
    </div>
    <script type="text/javascript" src="../js/hao123.js"></script>
</body>

</html>
