.container,body{
    padding: 0px;
    margin: 0px;
}
.box{
    position: relative;
    float: left;
}
.content{
    border: 1px solid gray;
    box-shadow: 3px 3px 3px rgba(136, 136, 136, 0.62);
    border-radius: 5px;
}
.content img{
    width: 250px;
    padding: 7px;
    border-radius: 10px;
}