<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1,user-scalable=no" name="viewport">
    <title>手机网页</title>
    <link rel="stylesheet" href="../stylesheets/style_ph.css">
</head>

<body>
    <div class="contanier">       <!-- 页面容器 -->
        <header class="top">          <!-- 顶部宣传栏 -->
            <div class="title"></div>      <!-- 顶部图片 -->
            <div class="select_bar">            <!-- 选择栏 -->
                <div class="select_point">         <!-- 原点 -->
                    <div class="cicle_point"></div>
                    <div class="cicle_point cicle_blue"></div>
                    <div class="cicle_point"></div>
                    <div class="cicle_point"></div>
                </div>
            </div>
        </header>
        <article class="content">        <!-- 中间内容部分 -->
            <div class="comy">
                <p><b>公司简介</b></p>
            </div>
            <div class="activety">
                <p style="text-align: right"><b>精彩活动</b></p>
            </div>
            <div class="product">
                <p><b>智能产品</b></p>
            </div>
            <div class="d_p">
                <div class="direction">
                    <p><b>发展方向</b></p>
                </div>
                <div class="partner">
                    <p><b>合作伙伴</b></p>
                </div>
            </div>
            <div class="news">
                <p><b>新闻中心</b></p>
            </div>
            <div class="contact">
                <p style="text-align: right;"><b>联系我们</b></p>
            </div>
        </article>
        <footer class="nav">    <!-- 顶部导航栏 -->
            <div class="menu_lr">
                <div class="shouye"></div>
            </div>
            <div class="menu_c1">
                <div class="location"></div>
            </div>
            <div class="menu_c2">
                <div class="about"></div>
            </div>
            <div class="menu_lr">
                <div class="message"></div>
            </div>
        </footer>
    </div>
</body>

</html>
