<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheet/box.css" type="text/css">
</head>

<body>
    <h3>标准盒子模型与怪异盒子模型对比</h3>
    <div class="contaniar1">
        <div class="content">标准盒子模型</div>
    </div>
    <div class="contaniar2">
        <div class="quirks">怪异盒子模型</div>
    </div>
    <hr>
    <h3>使用旧版弹性盒子实现水平和竖直分栏，使用flex_box实现排序</h3>
    <div class="box">
        <div class="layout_x">
            <div class="first">第一个</div>
            <div class="second">第二个</div>
            <div class="third">第三个</div>
        </div>
        <div class="layout_y">
            <div class="first">第一个</div>
            <div class="second">第二个</div>
            <div class="third">第三个</div>
        </div>
        <h4>使用flex_box实现排序</h4>
        <div class="order">
            <div class="first" id="first">第一个</div>
            <div class="second" id="second">第二个</div>
            <div class="third" id="third">第三个</div>
        </div>
    </div>
    <hr>
    <h3>分栏</h3>
    <div class="col">
        <div><img src="../img/bd_logo1.png" alt="baidu_logo" width="200px" highet="200px">近日新金融领域风波不断--先是美团支付被举报“无证上岗”，后有京东金融指责蚂蚁金服在署名报告中“抹黑”京东白条，接着微众银行旗下微粒贷又被曝出“偷查”用户信用记录，在用户申请开通微粒贷，但并未执行贷款动作时就查阅了用户在央行的征信报告。近日新金融领域风波不断--先是美团支付被举报“无证上岗”，后有京东金融指责蚂蚁金服在署名报告中“抹黑”京东白条，接着微众银行旗下微粒贷又被曝出“偷查”用户信用记录，在用户申请开通微粒贷，但并未执行贷款动作时就查阅了用户在央行的征信报告。近日新金融领域风波不断--先是美团支付被举报“无证上岗”，后有京东金融指责蚂蚁金服在署名报告中“抹黑”京东白条，接着微众银行旗下微粒贷又被曝出“偷查”用户信用记录，在用户申请开通微粒贷，但并未执行贷款动作时就查阅了用户在央行的征信报告。
        </div>
    </div>
    <hr>
    <h3>使用旧版弹性盒子实现居中效果</h3>
    <div class="layout_center"><img src="../img/bd_logo1.png" alt="baidu_logo" class="img"></div>
</body>

</html>
