.container{
    width: 800px;
    height: 800px;
    display:-webkit-box; 
    -webkit-box-pack:center;
    margin-top: 80px;  /*指定容器的宽度和高度，使容器内的元素水平居中，距顶80px*/
}
.box{
    
    /*background-color: gray;*/
    transform-style:preserve-3d;
    perspective: 3000px;   /*指定页面视角离div的距离*/
    perspective-origin: 50% 0%;   /*指定页面的倾斜视角*/
    transform-origin: 183px 183px 183px;
    transform: rotateY(0deg);
    /*animation:myanimationsf 5s ;
    -webkit-animation:myanimationsf 5s;*/
    animation:myanimationss 4s ;
    -webkit-animation:myanimationss 4s ;
    
    
}
.color_green{
    width: 306px;
    height: 306px;   /*指定每一面的整体容器的宽高300px，包含边框在内，每个边框1px，共306px*/
    background-color:green; /*指定颜色*/
    position: absolute; /*使用绝对定位使六个面脱离文档流，平面位置重合*/
    transform-style:preserve-3d; /*指定为3d变换*/
    transform-origin: 0px 0px 0px;  /*指定rotate()函数的旋转轴*/
    transform: translateZ(306px);  /*指定绿色页面为显示在最外层*/
    animation:myfirst 2s ;
    -webkit-animation:myfirst 2s ;
}
.color_red{
    width: 306px;
    height: 306px;
    background-color:red;
    position: absolute;
    transform-style:preserve-3d;
    transform-origin: 0px 0px 0px;
    transform: rotateX(90deg); /*指定红色页面沿里层的最上轴进行90度旋转*/
}
.color_blue{
    width: 306px;
    height: 306px;
    background-color:blue;
    position: absolute;
    transform-style:preserve-3d;
    transform-origin: 306px 306px 0px;
    transform: rotateY(90deg);  
}
.color_orange{
    width: 306px;
    height: 306px;
    background-color:orange;
    position: absolute;
    transform-style:preserve-3d;
    transform-origin: 0px 306px 0px;
    transform: rotateY(-90deg);   
}
.color_yellow{
    width: 306px;
    height: 306px;
    background-color:yellow;
    position: absolute;
    transform-style:preserve-3d;
    transform-origin: 306px 306px 0px;
    transform: rotateX(-90deg);   
}
.color_white{
    width: 306px;
    height: 306px;
    background-color:white;
    position: absolute;
    transform-style:preserve-3d;
    transform: translateZ(0px); /*指定白色为最里面的一面*/
}
.inner{
    width: 100px;
    height: 100px;  /*指定每个小div的宽高*/
    margin: 0;
    padding: 0; /*去掉div本身的外边距和内边距*/
    border: 1px solid;  /*指定div的边框*/
    float: left;   /*使用float属性让每个面的9个div成9宫格显示*/
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,.6) inset;  /*指定每个div的边框阴影为内阴影使其具有立体效果*/
    display:-webkit-box; 
    -webkit-box-align:center; 
    -webkit-box-pack:center;   /*使每个div中的文字元素水平垂直居中*/
}

/*@-webkit-keyframes myanimations{
    0%{perspective-origin:-173px -198px;}
    50%{perspective-origin:-50px -198px;}
    70%{perspective-origin:50px -198px;}
    100%{perspective-origin:200px -198px;}
}
@keyframes myanimations{
    0%{perspective-origin:-173px -198px;}
    50%{perspective-origin:300px -198px;}
    70%{perspective-origin:600px -198px;}
    100%{perspective-origin:900px -198px;}
}*/
@keyframes myanimationsf{
    0%{perspective:1085px;}
    50%{perspective:1285px;}
    70%{perspective:1485px;}
    100%{perspective:1685px;}
}
@-webkit-keyframes myanimationsf{
    0%{perspective:1085px;}
    50%{perspective:1285px;}
    70%{perspective:1485px;}
    100%{perspective:1685px;}
}
@-webkit-keyframes myanimationss{
    0%{transform:rotateY(0deg);}
    50%{transform: rotateY(90deg);}
    70%{transform: rotateY(180deg);}
    100%{transform: rotateY(270deg);}
}
@keyframes myanimationss{
    0%{transform:rotateY(0deg);}
    50%{transform: rotateY(90deg);}
    70%{transform: rotateY(180deg);}
    100%{transform: rotateY(270deg);}
}
