<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <style>
       body{
        display: -webkit-box;
        -webkit-box-pack:center;
        -webkit-box-align:center;
       }
       .pannel{
        width: 400px;
        height: 300px;
        border: 1px solid black;
       }
       #span{
        display: block;
        border: 1px solid black;
        width: 100%;
        height: 66%;
       }
    </style>
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/count.js"></script>
</head>
<body>
    <div class="pannel">
        <p>数组为：["a","x","b","d","m","a","k","m","p","j","a"]</p>
        <hr>
        <span id="span"></span>
        <input type="button" id="btn" value="开始统计">
    </div>
</body>
</html>