<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>3D魔方</title>
    <link rel="stylesheet" href="../stylesheets/3dmf.css" type="text/css">
</head>
<body>
<div class="container">   <!-- 页面容器 -->
    <div class="box">       <!-- 魔方盒子 -->
        <div class="color_green">    <!-- 绿色面 -->
            <div class="inner">A</div>    <!-- 色面中的9格小块 -->
            <div class="inner">A</div>
            <div class="inner">A</div>
            <div class="inner">A</div>
            <div class="inner">A</div>
            <div class="inner">A</div>
            <div class="inner">A</div>
            <div class="inner">A</div>
            <div class="inner">A</div>
        </div>
        <div class="color_red">
            <div class="inner">B</div>
            <div class="inner">B</div>
            <div class="inner">B</div>
            <div class="inner">B</div>
            <div class="inner">B</div>
            <div class="inner">B</div>
            <div class="inner">B</div>
            <div class="inner">B</div>
            <div class="inner">B</div>
        </div>
        <div class="color_blue">
            <div class="inner">C</div>
            <div class="inner">C</div>
            <div class="inner">C</div>
            <div class="inner">C</div>
            <div class="inner">C</div>
            <div class="inner">C</div>
            <div class="inner">C</div>
            <div class="inner">C</div>
            <div class="inner">C</div>
        </div>
        <div class="color_orange">
            <div class="inner">D</div>
            <div class="inner">D</div>
            <div class="inner">D</div>
            <div class="inner">D</div>
            <div class="inner">D</div>
            <div class="inner">D</div>
            <div class="inner">D</div>
            <div class="inner">D</div>
            <div class="inner">D</div>
        </div>
        <div class="color_yellow">
            <div class="inner">E</div>
            <div class="inner">E</div>
            <div class="inner">E</div>
            <div class="inner">E</div>
            <div class="inner">E</div>
            <div class="inner">E</div>
            <div class="inner">E</div>
            <div class="inner">E</div>
            <div class="inner">E</div>
        </div>
        <div class="color_white">
            <div class="inner">F</div>
            <div class="inner">F</div>
            <div class="inner">F</div>
            <div class="inner">F</div>
            <div class="inner">F</div>
            <div class="inner">F</div>
            <div class="inner">F</div>
            <div class="inner">F</div>
            <div class="inner">F</div>
        </div>
    </div>
</div>
    
</body>
</html>