.container{
    width: 100%;
    padding: 0;
    margin: 0;
}
nav{
    height: 50px;
    background: black;
}
nav ul{
    width: 60%;
    height: 50px;
    /*padding-top: 5px;*/
    margin: 0px auto;
    list-style: none;
    color: white;
    font-weight: bold;
}
nav ul:hover{
    cursor: pointer;
}
nav ul li{
    text-align: center;
    padding: 12px;
    float: left;
    height: 100%;
    box-sizing: border-box;
    width: 16%;
    transition: background-color 2s;
}
.active{
    background-color: #CA2727;
}
.new_content{
    box-sizing: border-box;
    width: 60%;
    margin: 0 auto;
}
.swiper{
    position: relative;
}
#img_swiper{
    height: 320px;
    position: relative;
    overflow: hidden;
}
#img_swiper img{
    width: 820px;
    height: 300px;
}
#img_swiper ul{
    position: absolute;
    height: 300px;
    width: 5000px;
    list-style: none;
    margin: 0px;
    padding: 20px 0px 0px 0px;
    left: 0px;
}
#img_swiper ul li{
    float: left;
}
.btnrl span{
    font-size: 45px;
    text-align: center;
    background-color: gray;
    color: white;
    position: absolute;
}
#news_btnl{
    top: 45%;
    left: 0px;
}
#news_btnr{
    top: 45%;
    right: 0px;
}
.num{
    position: absolute;
    left: 50%;
    bottom: 0px;
    margin-left: -100px;
}
.num li{
    display: inline-block;
    width: 40px;
    height: 5px;
    background-color: white;
}
li.num_active{
    background-color: #0ff9b7;
}

.news_list{
    width: 100%;
    margin-top: 20px;
}
.news_item{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid rgba(128, 128, 128, 0.34);
    font-family: arial,"Hiragino Sans GB","Microsoft Yahei","微软雅黑","宋体",Tahoma,Arial,Helvetica,STHeiti;
    font-size: 12px;
    cursor: pointer;
}
.newsimg,.news_detail{
    display: inline-flex;
}
.newsimg img{
    width: 150px;
    height: 100px;
}
.news_detail{
    width: 636px;
    margin-left: 10px;
    /*display: flex;*/
    flex-direction: column;
    justify-content: space-between;
    vertical-align: top;
}
h3,p{
    width: 100%;
   margin: 5px auto;
    text-align: left;
}
.newstitle h3{
    font-size: 16px;
}
.newscontent{
    height: 40px;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* word-break: break-word; */
    overflow: hidden;
}
.newssort{
    float: left;
}
.newsadddate{
    float: right;
}

.loadmore{
    width: 150px;
    margin: 20px auto;
    border: 1px solid gray;
    background-color: rgba(43, 43, 42, 0.22);
    text-align: center;
    cursor: pointer;
}

.news_pannel{
    display: none;
}
.title{
    margin-top: 20px;
    text-align: center;
}
.img img{
    display: block;
    margin: 20px auto;
}
.news{
    line-height: 40px;
}
.newsinfo{
    margin-top: 20px;
    color: rgba(20, 20, 21, 0.55);
}
.sort{
    float: left;
}
.date{
    float: right;
}