.container {         /*页面容器居中宽度80% 高度650px*/
    margin: 0 auto;
    padding: 0;
    width: 80%;
    height: 650px;
    background-color: white;
}

.left {                     /*左侧div*/
    width: 66%;
    height: 100%;
    float: left;
    background: url(../img/psd17748_r1_c4.gif);
    background-size: 100% 100%;
}

.left_top {                 /*左侧顶部div*/
    width: 100%;
    height: 33.3%;
    background: url(../img/psd17748_r1_c5.gif);
    opacity: 0.7;
}

.left_top_content {        /*左侧顶部内容*/
    width: 40%;
    height: 25%;
    margin-left: 30px;
}

.left_top_underbar {       /*左侧顶部与中间的空白条*/
    height: 5px;
    background: url(../img/psd17748_underbar.gif);
}

.left_center_pic1 {        /*左侧中间的圆图1*/
    position: absolute;
    width: 140px;
    height: 140px;
    top: 190px;
    left: 180px;
    background: url(../img/psd17748_yuan.png) no-repeat;
    background-size: 100% 195%;
    background-position: left top;
}

.left_center_pic2 {       /*左侧中间的圆图2*/
    position: absolute;
    width: 140px;
    height: 140px;
    top: 190px;
    left: 340px;
    background: url(../img/psd17748_yuan.png) no-repeat;
    background-size: 100% 195%;
    background-position: 0px 103%;
}

.left_footer {           /*左侧底部div*/
    margin-top: 134px;
    width: 100%;
    height: 45.3%;
    background: url(../img/psd17748_r2_c6.gif) no-repeat;
    background-size: 100% 100%;
    opacity: 0.9;
}

.left_footer_content {      /*左侧底部内容*/
    width: 40%;
    height: 100%;
    padding: 10px;
    padding-left: 30px;
    color: white;
    float: left;
}

.logo_big img {              /*左侧底部的logo*/
    width: 85px;
    height: 85px;
    margin-top: 30px;
    margin-left: 150px;
}

.address {             /*左侧底部的地址及电话*/
    width: 35%;
    color: white;
    text-align: center;
    margin-left: 395px;
    font-size: 13px;
    line-height: 14px;
}
.address p{
    margin-top: 5px;
    margin-bottom: 5px;
}

.right {                 /*右侧div*/
    width: 33%;
    height: 100%;
    float: left;
    background: url(../img/psd17748_r1_c2.gif) no-repeat;
    background-size: 100% 100%;
    margin-left: 5px;
}

.right_top {           /*右侧上*/
    width: 100%;
    height: 33.3%;
    background: url(../img/psd17748_r1_c3.gif) no-repeat;
    background-size: 100% 100%;
}

.logo_small {         /*右侧上的logo*/
    margin-left: 320px;
    padding-top: 20px;
}

.logo_small img {
    width: 30px;
    height: 30px;
}

.right_center_bar {         /*右侧顶部与中部的div的蓝条*/
    width: 100%;
    height: 20px;
    background: url(../img/psd17748right_top_centerbar.png) no-repeat;
    margin-top: 150px;
    background-size: 100% 100%;
}

.right_center {            /*右侧中间*/
    width: 100%;
    height: 33%;
    background: url(../img/psd17748_r2_c4.gif) no-repeat;
    background-size: 100% 100%;
    opacity: 0.9;
}

.compy_name {            /*右侧中间公司名*/
    width: 60%;
    text-align: right;
    padding-top: 30px;
    margin-left: 140px;
    color: white;
}

.compy_name p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 26px;
}

.li li {                 /*右侧中间列表*/
    color: white;
    font-size: 12px;
    list-style: none;
    float: left;
    margin-top: 15px;
    margin-left: 15px;
}
