<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>动画</title>
    <link rel="stylesheet" href="../stylesheets/move.css" type="text/css">
</head>
<body>
<div class="container">
    <div class="content">
        <div class="man"><img  class="img1" src="../img/man.jpg" alt="man"></div>
        <div class="car"><img  class="img2" src="../img/car.jpg" alt="car"></div>
        <div class="word"><img class="img3" src="../img/gs.jpg" alt="gs"></div>
    </div>
</div>
    
</body>
</html>