body{
    margin: 0px;
    width: auto;
    height: 800px;
    display:-webkit-box; /*使整个div容器居中*/
    -webkit-box-align:center; 
    -webkit-box-pack:center;
}
.content{
    background-color: rgba(51, 99, 107, 0.11);
    width: 300px;
    height: 300px;    
    border-style: groove;
    border-radius: 5px;
    -moz-animation:animations 1.5s ease infinite;
    -webkit-animation:animations 1.5s ease infinite;
    animation:animations 1.5s ease infinite;

}
.top{
    background-color: red;
    width: 100px;
    height: 100px;
    margin: 0px auto;
    box-shadow: 5px 5px 5px rgba(0, 15, 15, .6)inset;/*内阴影*/
    border-radius: 5px;

}
.left{
    background-color: green;
    width: 100px;
    height: 100px;
    float: left;
    box-shadow: 5px 5px 5px rgba(0, 15, 15, .6)inset;/*内阴影*/
    border-radius: 5px;
}
.right{
    background-color: green;
    width: 100px;
    height: 100px;
    float: left;
    box-shadow: 5px 5px 5px rgba(0, 15, 15, .6)inset;/*内阴影*/
    border-radius: 5px;

}
.foot{
    background-color: red;
    width: 100px;
    height: 100px;
    margin: 0px auto;
    float: left;
    margin-left: 100px;
    box-shadow: 5px 5px 5px rgba(0, 15, 15, .6)inset;/*内阴影*/
    border-radius: 5px;
}
.center{
    background: blue;
    width: 100px;
    height: 100px;
    float: left;
    box-shadow: 5px 5px 5px rgba(0, 15, 15, .6)inset;/*内阴影*/
    border-radius: 5px;
    display:-webkit-box; 
    -webkit-box-align:center; 
    -webkit-box-pack:center;/*使图片文件居中*/
    
}
img{
    width: 24px;
    height: 24px;
    box-shadow: 5px 5px 5px rgba(0, 15, 15, .6);
}
@-webkit-keyframes animations{
    0%{box-shadow:0 0 60px rgba(204,102,0,.8);}
    50%{box-shadow:0 0 60px rgba(204,102,0,.3);}
    100%{box-shadow:0 0 60px rgba(204,102,0,.8);}/*使用animations动画适应chrome浏览器*/
}
@-moz-keyframes animations{
    0%{box-shadow:0 0 60px rgba(204,102,0,.8);}
    50%{box-shadow:0 0 60px rgba(204,102,0,.3);}
    100%{box-shadow:0 0 60px rgba(204,102,0,.8);}
}
@keyframes animations{
    0%{box-shadow:0 0 60px rgba(204,102,0,.8);}
    50%{box-shadow:0 0 60px rgba(204,102,0,.3);}
    100%{box-shadow:0 0 60px rgba(204,102,0,.8);}
}
