<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
<div class="container">   <!-- 页面容器 -->
    <div class="left">    <!-- 页面左侧 -->
        <div class="left_top">   <!-- 页面左侧顶部 -->
            <div class="left_top_content">
                <p class="title" style="margin-top: 0px; margin-bottom: 5px; color: white;font-size: 14px;">●大剩余静校正量静校正（SC_DCC）</p>
                <p style="margin-top: 5px;margin-bottom: 5px;color: white;font-size: 14px">Large residual statics correction</p>
                <p style="font-size: 12px;margin-top: 5px;color: white;">派特森公司开发了地震数据处理中的大剩余静校正量静校正技术，解决了某些地区首波初至拾取不准引起的大剩余静校正量问题。</p>
                <p style="font-size: 12px;color: white;">Petrosound has developed a large surplus in seismic data processing of static correction technology of static correction, the residual parts of the first wave of first-break picking is not caused by the static correction problem.left_footer_content</p>
            </div>      <!-- 页面左侧顶部文字内容 -->
        </div>
        <div class="left_top_underbar"></div>          <!-- 左侧页面顶部与中间的空白条 -->
        <div class="left_center_pic1">
            <!-- <img src="../img/psd1774806.png" alt="圆图1"> -->
        </div>          <!-- 左侧页面中部的圆图1 -->
        <div class="left_center_pic2">
            <!-- <img src="../img/psd1774806.png" alt="圆图2"> -->
        </div>              <!-- 页面左侧中部的圆图2 -->
        <div class="left_footer">             <!-- 页面左侧底部 -->
           <div class="left_footer_content">
                <p style="margin-top: 0px; margin-bottom: 5px; color: white;font-size: 14px;">●多分量地震勘探数据处理技术</p>
                <p style="margin-top: 5px;margin-bottom: 5px;color: white;font-size: 14px">
                Multi-component seismic exploration data processing technology</p>
                <p style="font-size: 12px;margin-top: 5px;color: white;">针对国内多波多分量地震勘探实际工作量的提高。派特森公司开发了一整套转换波地震数据处理软件。该软件集中了多项国际流行的转换波处理技术，据有技术先进，界面友好，输入输出方便，与大型商用软件联成一体的优点。</p>
                <p style="font-size: 12px;color: white;">n view of the domestic multi-wave and multi-component seismic exploration to improve the actual workload. Pattison has developed a set of converted wave seismic data processing software. The software mainly converted a number of international popular wave processing technology, has advanced technology, friendly interface, convenient advantages of input and output, and the large-scale commercial software as a whole. </p>
            </div>     <!-- 页面左侧底部的内容 -->
            <div class="logo_big">
                <img src="../img/psd1774804.png" alt="logo1">
            </div>           <!-- 页面左侧底部的大logo -->
            <div class="address">
                <p >地址：北京市海淀区中关村南大街5号理工科技大厦13层1327室</p>
                <p >邮编：100081</p>
                <p >电话：010-68467224</p>
                <p >传真：84565546</p>
                <p >网址：www.petrosound.com</p>
            </div>                <!-- 页面左侧底部的地址信息 -->
        </div>
    </div>
    <div class="right">      <!-- 页面右侧 -->
        <div class="right_top">     <!-- 页面右侧顶部 -->
            <div class="logo_small">
                <img src="../img/psd17748_logosmall.png" alt="logo2">
            </div>     <!-- 页面右侧顶部的logo -->
            <div class="right_center_bar"></div>
        </div>
        <div class="right_center">    <!-- 页面右侧中部 -->
            <div class="compy_name">
                <p >北京派特森</p>
                <p >科技发展有限公司</p>
                <p >Beijing Petrosound Geoservices Ltd</p>
            </div>    <!-- 页面右侧中部的公司名称 -->
            <div class="li">
                <li>●地震监测</li>
                <li>●无射线层</li>
                <li>●FVO人机连坐</li>
                <li>●地表数据</li>
            </div>    <!-- 页面右侧中部的列表 -->
        </div>
    </div>
</div>
    
</body>
</html>