<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="../stylesheets/login.css">
</head>

<body>
    <div class="contanier">
        <div class="login_panel">
            <p>Welcome</p>
            <div class="form">
                <form action="" name="form1">
                    <img  class=" pic" src="../img/pic.png" alt="">
                    <img src="../img/adm.png" alt="用户名：">
                    <input type="text" placeholder="username" required="required" name="username">
                    <hr>
                    <img src="../img/key.png" alt="密码：">
                    <input type="password" placeholder="password" required="required" name="password">
                    <hr>
                    <!-- <input type="submit" form="form1" value="login"> -->
                    <div class="submit"><input type="submit" value="login"></div>
                    <!-- <a href="#"><span>登陆</span></a> -->
                </form>
                <!-- <div class="submit"><input type="submit" formtarget="form1" value="login"></div> -->
            </div>
        </div>
    </div>
</body>

</html>
