<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>tank</title>
    <link rel="stylesheet" href="../stylesheets/draw.css" type="text/css">
</head>

<body>
    <div>
        <div class="paodan"></div>
        <div class="yuan1"></div>
        <div class="yuan2"></div>
        <div class="paogan"></div>
        <div class="zhengfangxing"><img src="../img/五角星.jpg" alt="五角星"></div>
        <div class="tixing"></div>
        <div class="changfangxing">
        </div>
        <br>
        <div class="lunzi">
            <div class="lunzi1">
                <div class="z1"></div>
                <div class="z2"></div>
                <div class="z3"></div>
            </div>
            <div class="lunzi2">
                <div class="z1"></div>
                <div class="z2"></div>
                <div class="z3"></div>
            </div>
            <div class="lunzi3">
                <div class="z1"></div>
                <div class="z2"></div>
                <div class="z3"></div>
            </div>
            <div class="lunzi4">
                <div class="z1"></div>
                <div class="z2"></div>
                <div class="z3"></div>
            </div>
            <div class="lunzi5">
                <div class="z1"></div>
                <div class="z2"></div>
                <div class="z3"></div>
            </div>
        </div>
    </div>
</body>

</html>
