<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新闻后台管理系统</title>
    <link rel="stylesheet" href="../stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="../stylesheets/manager.css">
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <srcipt src="../js/*.js"></srcipt>
    <script src="../js/manager.js"></script>
</head>
<body>
    <div class="row">
       <div class="container-fluid">
           <nav class="navbar navbar-inverse navbar-fixed-top">
               <div class="container-fluid">
                   <!-- Brand and toggle get grouped for better mobile display -->
                   <div class="navbar-header">
                       <a class="navbar-brand" href="#">新闻管理后台</a>
                   </div>

                   <!-- Collect the nav links, forms, and other content for toggling -->
                   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                       <ul class="nav navbar-nav navbar-right">
                           <li class="dropdown">
                               <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">administrator <span class="caret"></span></a>
                               <ul class="dropdown-menu">
                                   <li><a href="#">个人设置</a></li>
                                   <li><a href="#">退出登录</a></li>
                               </ul>
                           </li>
                       </ul>
                       <form class="navbar-form navbar-right" role="search">
                           <div class="form-group">
                               <input type="text" class="form-control" placeholder="Search">
                           </div>
                           <button type="submit" class="btn btn-default">搜索</button>
                       </form>
                   </div><!-- /.navbar-collapse -->
               </div><!-- /.container-fluid -->
           </nav>
       </div>
    </div>
    <div class="row content">
        <!--//左侧的导航栏-->
        <div class="col-md-2">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <!--新闻概览-->
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    新闻概况
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <ul class="list-group">
                                    <li class="list-group-item" id="update_list_btn">最近更新</li>
                                    <li class="list-group-item" id="count_btn">新闻统计</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--新闻管理-->
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    新闻管理
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <ul class="list-group">
                                    <li class="list-group-item" id="news_add_btn">添加新闻</li>
                                    <li class="list-group-item" id="news_scan_btn">H5页面新闻预览</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <!--//右侧的内容部分-->
        <div class="col-md-9">
            <!--最近更新的新闻列表-->
            <div class="news_update_list pannel_show">
                <h3>最近更新</h3>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <tbody id="newslist_tbody">
                        </tbody>
                    </table>
                    <div class="col-md-4 col-md-offset-4">
                        <nav>
                            <ul class="pager">
                                <li class="previous"><a href="#">前一页</a></li>
                                <li class="next"><a href="#">下一页</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <!--新闻统计内容-->
            <div class="news_count">
                <h3>新闻统计</h3>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <tbody id="news_count_tbody">
                        </tbody>
                    </table>
                </div>
            </div>
            <!--新闻添加内容面板-->
            <div class="news_add">
                <form id="news_add_form">
                    <div class="form-group">
                        <label for="newstitle">新闻标题</label><span class="input-warning"><i>注意：添加的内容请将空格都删掉,并使用html特殊符号代替引号等特殊字符</i></span>
                        <input type="text" class="form-control" id="newstitle" placeholder="title" name="newstitle" required="required">
                    </div>
                    <div class="form-group">
                        <label for="newscontent">新闻内容</label><span class="input-warning"><i>注意：添加的内容请将空格都删掉,并使用html特殊符号代替引号等特殊字符</i></span>
                        <textarea class="form-control" rows="10" id="newscontent" placeholder="正文" name="newscontent" required="required"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="newsimgurl">图片地址：</label>
                        <input type="url" id="newsimgurl" name="newsimgurl" class="form-control">
                        <!--<p class="help-block">Example block-level help text here.</p>-->
                    </div>
                    <div class="select form-group">
                        <lable for="newssort">新闻类型： </lable>
                            <select id="newssort" name="newssort" class="form-control">
                                <option value ="volvo">体育</option>
                                <option value ="saab">娱乐</option>
                                <option value="opel">军事</option>
                                <option value="audi">科技</option>
                                <option value="audi">财经</option>
                            </select>
                    </div>
                    <!--<div class="date form-group">-->
                        <!--<lable for="newsadddate">选择更新时间：</lable>-->
                        <!--<input type="date" name="newsadddate" id="newsadddate" class="form-control">-->
                    <!--</div>-->
                    <span class="btn btn-default" id="add_submit">提交</span>
                    <!--<button type="submit" class="btn btn-default" id="add_submit">提交</button>-->
                    <button type="reset" class="btn btn-default">重置</button>
                </form>
                <!--添加新闻过程中的提示框-->
                <div class="alert alert-info alert-dismissible newsadding" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Warning!</strong> 新闻正在添加至数据库当中，请稍后。。。。.
                </div>
                <div class="alert alert-success alert-dismissible newsaddsuccess" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Success!</strong> 新闻添加成功，请到新闻列表选中查看更新.！！！
                </div>
                <div class="alert alert-warning alert-dismissible newsadderror" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>error!</strong> 新闻添加失败！！！
                </div>
            </div>
            <!--新闻预览面板-->
            <div class="news_scan">
                <a href="news.html" target="_blank">跳转至用户的新闻首页</a>
            </div>
            <!--修改新闻时候的弹出框-->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="exampleModalLabel">修改新闻</h4>
                        </div>
                        <div class="modal-body modfiy_pannel">
                            <form id="news_modfiy_form">
                                <div class="form-group">
                                    <label for="newstitle_mod">新闻标题</label>
                                    <input type="text" class="form-control" id="newstitle_mod" name="newstitle">
                                </div>
                                <div class="form-group">
                                    <label for="newscontent_mod">新闻内容</label>
                                    <textarea class="form-control" rows="10" id="newscontent_mod"  name="newscontent"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="newsimgurl_mod">图片地址：</label>
                                    <input type="url" id="newsimgurl_mod" name="newsimgurl" class="form-control">
                                    <!--<p class="help-block">Example block-level help text here.</p>-->
                                </div>
                                <div class="select form-group">
                                    <lable for="newssort_mod">新闻类型： </lable>
                                    <select id="newssort_mod" name="newssort" class="form-control">
                                        <option value ="volvo">体育</option>
                                        <option value ="saab">娱乐</option>
                                        <option value="opel">军事</option>
                                        <option value="audi">科技</option>
                                        <option value="audi">财经</option>
                                    </select>
                                </div>
                                <!--<div class="date form-group">-->
                                    <!--<lable for="newsadddate_mod">选择更新时间：</lable>-->
                                    <!--<input type="date" name="newsadddate" id="newsadddate_mod" class="form-control">-->
                                <!--</div>-->
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary" id="updatenews">保存</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>