body{
    margin: 0;
    padding: 0;
}
.pannel{
    width: 500px;
    height: 200px;
    background-color: rgba(128, 128, 128, 0.19);
    margin: 200px auto 0px auto;
}
p{
    padding-top: 50px;
    text-align: center;
}
#range{
    display: block;
    margin:10px auto;
    width: 50px;
    height: 20px;
}
#result{
    display: block;
    margin: 10px auto;
    color: red;
    font-size: 24px;
    text-align: center;
}