.contanier{
    background: url(../img-p/bg.gif);
    width: 100%;
    height: 480px;
}
.top{                  /*header容器*/
    background: url(../img-p/top_pic.gif);
    width: 100%;
    height: 25%;
    background-size: 100% 100%;
}
.title {              /*header图片*/
    background: url(../img-p/title.png) no-repeat;
    background-size: 100%;
    width: 100%;
    height: 40%;
}
.select_bar{         /*原点选择栏*/
    background: url(../img-p/select_bar.png) no-repeat;
    background-size: 100% 100%;
    height: 10%;
    width: 100%;
    margin-top: 62px;
    display: -webkit-box;
    -webkit-box-pack:center;
}
.cicle_point{       /*原点*/
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    float: left;
    margin-left: 10px;
}
.cicle_blue{       /*蓝色原点*/
    background-color: blue;
}
.content{        /* 中间内容部分样式*/
    background: url(../img-p/content_bg.gif);
    width: 100%;
    height: 64%;
}
.comy{                 
    width: 51.6%;
    height: 30%;
    background-color: rgba(236, 97, 97, 0.96);
    background: url(../img-p/content.png) no-repeat;
    background-size: 108% auto;
    background-position: -4px -461px;
    border-left-width: 0;
    float: left;
}
p{               /*字体样式*/
    padding-top: 10px;
    color: white;
    margin-top: 0px;
    margin-left: 10px;
}
.activety{
    height: 30%;
    width: 48%;
    background-color: #732C82;
    background: url(../img-p/content.png) no-repeat;
    background-size: 115% auto;
    background-position: 0px -355px;
    float: left;
}
.product{
    width: 53%;
    height: 40%;
    background-color: rgba(18, 72, 167, 0.93);
    background: url(../img-p/content.png) no-repeat;
    background-size: 104% auto;
    background-position: -4px 1px;
    float: left;
}
.d_p{
    width: 47%;
    height: 42%;
    float: left;
}
.direction{
    width: 100%;
    height: 45%;
    background-color: #359E3C;
    background: url(../img-p/content.png) no-repeat;
    background-size: 114% auto;
    background-position: 0px -1235px;
}
.partner{
    width: 100%;
    height: 50%;
    background-color: #46AACE;
    background: url(../img-p/content.png) no-repeat;
    background-size: 113% auto;
    background-position: 0px -1153px;
}
.news{
    width: 51.6%;
    height: 30%;
    background-color: #27C34E;
    background: url(../img-p/content.png) no-repeat;
    background-size: 106% auto;
    background-position: -4px -265px;
    float: left;
}
.contact{
    height: 30%;
    width: 48%;
    background-color: #A8A928;
    background: url(../img-p/content.png) no-repeat;
    background-size: 115% auto;
    background-position: 0px -160px;
    float: left;
}
.nav{            /*底部容器*/
    background-color: black;
    height: 10%;
    width: 100%;
}
.menu_lr{       /*底部菜单栏样式（两侧）*/
    height: 80%;
    width: 29.5%;
    background-color: #124B71;
    float: left;
    display: -webkit-box;
    -webkit-box-pack:center;
}
.menu_c1{       /*底部菜单栏（中间）*/
    height: 80%;
    width: 20%;
    background-color: #124B71;
    float: left;
    border-left: 1px solid black;
    display: -webkit-box;
    -webkit-box-pack:center;
}
.menu_c2{
    height: 80%;
    width: 20%;
    background-color: #124B71;
    float: left;
    border-left: 1px solid black;
    border-right: 1px solid black;
    display: -webkit-box;
    -webkit-box-pack:center;
}
.shouye{                /*导航栏图标*/
    background: url(../img-p/menu.png) no-repeat;
    background-size: 55px auto;
    width: 60px;
    height: 100%;
    background-position: 0px -100px;
}
.location{
    background: url(../img-p/menu.png) no-repeat;
    background-size: 55px auto;
    width: 60px;
    height: 100%;
    background-position: 8px -53px;
}
.about{
    background: url(../img-p/menu.png) no-repeat;
    background-size: 55px auto;
    width: 60px;
    height: 100%;
    background-position: 8px -8px;
}
.message{
    background: url(../img-p/menu.png) no-repeat;
    background-size: 55px auto;
    width: 60px;
    height: 100%;
    background-position: 0px -140px;
}