.container{
    margin: 0;
    padding: 0;
}
header article footer{
    width: 100%;
}
/*设置顶部栏的字体*/
.top_bar{
    font-family: 'Tahoma';
    font-size: 12px;
    color: gray;
}
.top_bar span{
   color: gray;
}
.top_bar a{
   text-decoration:none;
}
.top_bar_content{
    width: 90%;
    margin: 0 auto;
    height: 60px;
}
.logo{
    float: left;
}
#home{
    display: inline-block;
    width: 35px;
    background-color: rgba(33, 150, 243, 0.69);
    margin:5px 5px;
    font-size: 14px;
}
.title_items1{
    height: 60px;
    display: inline-block;
}
.title_items1_a{
    height: 60px;
    line-height: 60px;
    display: inline-block;
    margin: 0px 5px;
}
#dropdown{
    background: url(../img/index_widthlg.png) no-repeat;
    /* background-size: 100% 100%; */
    background-position: -46px -93px;
    display: inline-block;
    width: 20px;
    height: 10px;
}
#weather_img{
   background: url(../img/a0.png) no-repeat;
    /* background-size: 100% 100%; */
    /* background-position: -46px -93px; */
    display: inline-block;
    width: 30px;
    height: 25px;
}
.title_items2{
    display: inline-block;
    float: right;
    /*background: url(../img/index_widthlg.png) no-repeat;
    background-position: -29px -111px;*/
    width: 250px;
    height: 60px;
    /*text-align: center;*/
    line-height: 60px;
}
.title_items2 span{
    padding-left: 30px;
}
/*设置顶部栏的图标*/
#login{
    background: url(../img/index_widthlg.png) no-repeat;
    background-position:-32px -132px;
}
#email{
    background: url(../img/index_widthlg.png) no-repeat;
    background-position:-97px -132px;
}
#color{
    background: url(../img/index_widthlg.png) no-repeat;
    background-position:-245px -132px;
}
.title_items3{
    height: 60px;
    display: inline-block;
    float: right;
}
.bd_logo{
    background: url(../img/bd_logo1.png) no-repeat;
    width: 120px;
    height: 40px;
    float: left;
    background-size: 125% 176%;
    background-position: -14px -25px;
    margin-top: 20px;
    margin-right: 20px;
}
.search_form{
    display: inline-block;
    margin-top: 20px;
}
.search_form input{
    line-height: 40px;
    display: inline-block;
}
#form_text{
    line-height: 40px;
    display: inline-block;
    /* height: 40px; */
    width: 500px;
    float: left;
}
#form_btn{
    height: 47px;
    display: inline-block;
    width: 118px;
    float: left;
}
#color_select{
    display: inline-block;
    padding-left: 10px;
    /*margin-top: 0px;*/
}
#color_select li{
    display: inline-block;
    width: 50px;
    height: 50px;
    /*background-color: red;*/
    margin: 0px 5px;
}
#color1{
    background-color: #009c65;
}
#color2{
    background-color: #00BCD4;
}
#color3{
    background-color: rgba(33, 150, 243, 0.87);
}
#color4{
    background-color: #333;
}
.search_item ul{
    width: 55%;
    list-style: none;
    margin-top: -25px;
    margin-left: 345px;
}
.search_item ul>li{
    float: left;
    margin: 0 10px;
    font-size: 12px;
    font-family: 'Tahoma';
    color: gray;
}
article{
    width: 90%;
    margin: 0px auto;
}
nav{
    width: 100%;
    height: 40px;
    margin-top: 70px;
}
#nav_ul{
    width: 100%;
    list-style: none;
    margin-top: 40px;
    height: 100%;
    padding-left: 0px;
    /*border-top: 2px solid #009c65;*/
    border-top: 2px;
    border-top-style: solid;
    border-top-color:#009c65;
}
#nav_ul>li{
    float: left;
    /*width: 70px;
    height: 40px;*/
    height: 100%;
    font-size: 16px;
    font-family:'Microsoft Yahei';
    width: 8.9%;
    /*border-top: 2px solid #009c65;*/
    border-left: 1px solid rgba(128, 128, 128, 0.18);
    border-bottom: 1px solid rgba(128, 128, 128, 0.18);
    text-align: center;
    line-height: 40px;
}
#nav_ul>li>a{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration:none;
    color:#171514;
    /*width: 70px;
    height: 40px;*/
}
#selected{
    background-color: #009c65;
}
#selected_span{
    color:white;
}
.left-content{
    width: 23.6%;
    margin-top: 10px;
    float: left;
}
.left-content_menu{
   border: 1px solid gray;
   margin-top: 10px;
   list-style: none;
   height: 145px;
}
.left-content_menu>li{
    float: left;
    width: 50%;
    margin-bottom: 5px;
}
.left-content_menu>li>span{
    display: inline-block;
    width: 20px;
    height: 20px;
}
.left-content_menu_png1{
    background: url(../img/index_menus_widthlg.png) no-repeat;
    /*background-size: 100% 100%;*/
    background-position: -17px -158px;;
}
.left-content_menu_png2{
    background: url(../img/index_menus_widthlg.png) no-repeat;
    /*background-size: 100% 100%;*/
    background-position: -17px -259px;;
}
.left-content_menu_png3{
    background: url(../img/index_menus_widthlg.png) no-repeat;
    /*background-size: 100% 100%;*/
    background-position: -17px -98px;;
}
.left-content_menu_png4{
    background: url(../img/index_menus_widthlg.png) no-repeat;
    /*background-size: 100% 100%;*/
    background-position: -17px -259px;;
}
.left-content_menu_png5{
    background: url(../img/index_menus_widthlg.png) no-repeat;
    /*background-size: 100% 100%;*/
    background-position: -17px -18px;;
}
.left-content_menu_png6{
    background: url(../img/index_menus_widthlg.png) no-repeat;
    /*background-size: 100% 100%;*/
    background-position: -17px -118px;;
}
.left-content_menu_png7{
    background: url(../img/index_menus_widthlg.png) no-repeat;
    /*background-size: 100% 100%;*/
    background-position: -17px -279px;;
}
.left-content_menu_png8{
    background: url(../img/index_menus_widthlg.png) no-repeat;
    /*background-size: 100% 100%;*/
    background-position: -17px -359px;;
}
.left-content_menu_png9{
    background: url(../img/index_menus_widthlg.png) no-repeat;
    /*background-size: 100% 100%;*/
    background-position: -17px -78px;;
}
.left-content_menu_png10{
    background: url(../img/index_menus_widthlg.png) no-repeat;
    /*background-size: 100% 100%;*/
    background-position: -17px -299px;;
}
.left-content_menu>li>a{
    font-size: 14px;
    color: #333;
    text-decoration: none;
}
.content{
    /*width: 75%;*/
    margin-left: 25%;
}
.content_1{
    border: 1px solid green;
    margin-top: 10px;
    height: 300px;
}
#content_1_ul1{
    height: 80px;
}
.content_1>ul>li{
    list-style: none;
    float: left;
    display: inline-block;
    width: 15%;
    height: 30px;
}
.content_1>ul>li>a{
    text-decoration:none;
    font-size: 14px;
    color: #333;
}
/*设置内容区域的图标*/
.content_1_png1{
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url(../img/defaultIcon.png) no-repeat;
    background-position: 0px -199px;
}
.content_1_png2{
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url(../img/defaultIcon.png) no-repeat;
    background-position: 0px -279px;
}
.content_1_png3{
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url(../img/defaultIcon.png) no-repeat;
    background-position: 0px -319px;
}
.content_1_png4{
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url(../img/defaultIcon.png) no-repeat;
    background-position: 0px -39px;
}
.content_1_png5{
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url(../img/defaultIcon.png) no-repeat;
    background-position: 0px -157px;
}
.content_1_png6{
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url(../img/defaultIcon.png) no-repeat;
    background-position: 0px -399px;
}
.content_1_png7{
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url(../img/defaultIcon.png) no-repeat;
    background-position: 0px -479px;
}
.content_1_png8{
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url(../img/defaultIcon.png) no-repeat;
    background-position: 0px -239px;
}
.content_1_png9{
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url(../img/defaultIcon.png) no-repeat;
    background-position: 0px -359px;
}
.content_1_png10{
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url(../img/defaultIcon.png) no-repeat;
    background-position: 0px 1px;
}

.content_1_png11{
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url(../img/defaultIcon.png) no-repeat;
    background-position: 0px 1px;
}
.content_1_png12{
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url(../img/defaultIcon.png) no-repeat;
    background-position: 0px -519px;
}
.content_1_png13{
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url(../img/defaultIcon.png) no-repeat;
    background-position: 0px -599px;
}
.content_1_png14{
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url(../img/defaultIcon.png) no-repeat;
    background-position: 0px -479px;
}
.content_1_png15{
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url(../img/defaultIcon.png) no-repeat;
    background-position: 0px -599px;
}
.content_1_png16{
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url(../img/defaultIcon.png) no-repeat;
    background-position: 0px -599px;
}
.content_1_png17{
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url(../img/defaultIcon.png) no-repeat;
    background-position: 0px -639px;
}
.content_1_png18{
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url(../img/defaultIcon.png) no-repeat;
    background-position: 0px -559px;
}
.fengexian{
    display: block;
    width: 90%;
    margin:0 auto;
    border-top: 1px solid rgba(128, 128, 128, 0.32);
}


