<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>计算器</title>
    <link rel="stylesheet" href="../stylesheets/jisuanqi.css">
    <script src="../js/jquery.min.js"></script>
    <script src="../js/jisuanqi.js"></script>
</head>
<body>
    <div class="pannel">
        <!-- 计算器的显示部分 -->
        <span id="span1"></span>
        <hr>
        <!-- 计算器数字按钮区 -->
        <div class="btn">
            <input type="button" value="1" id="btn_1" class="btn_number">
            <input type="button" value="2" id="btn_2" class="btn_number">
            <input type="button" value="3" id="btn_3" class="btn_number">
            <input type="button" value="4" id="btn_4" class="btn_number">
            <input type="button" value="5" id="btn_5" class="btn_number">
            <input type="button" value="6" id="btn_6" class="btn_number">
            <input type="button" value="7" id="btn_7" class="btn_number">
            <input type="button" value="8" id="btn_8" class="btn_number">
            <input type="button" value="9" id="btn_9" class="btn_number">
            <input type="button" value="0" id="btn_0" class="btn_number">
            <hr>
            <!-- 计算器操作按钮区 -->
            <input type="button" value="+" id="btn_add" class="btn_comp">
            <input type="button" value="-" id="btn_sub" class="btn_comp">
            <input type="button" value="*" id="btn_mul" class="btn_comp">
            <input type="button" value="/" id="btn_div" class="btn_comp">
            <input type="button" value="clear" id="btn_clear" class="btn_comp">
            <input type="button" value="result" id="btn_result" class="btn_comp">
        </div>
    </div>
</body>
</html>