body{
    width: 100%;
    height: 600px;
    margin:0;
    padding: 0;
}
/*整体面板的样式*/
.pannel{
    width: 300px;
    height: 350px;
    background: rgb(78, 154, 189);
    margin:50px auto;
    padding-top: 5px;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #282D5A;
}
/*定义显示区域的样式*/
#span1{
    display: block;
    height: 40px;
    width: 98%;
    margin: auto;
    border: 1px solid black;
    background-color: white;
    font-size: 24px;
    
}
/*定义数字键盘和函数键盘的样式*/
.btn_number{
    width: 22%;
    height: 30px;
    margin-left: 2px;
    margin-top: 8px;
    background-color: rgba(19, 15, 15, 0.73);
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 3px 3px 1px #282D5A;
    color: white;
}
/*定义符号键盘、清楚、结果键盘的样式*/
.btn_comp{
    width: 14%;
    height: 30px;
    margin-left: 1px;
    background-color: rgba(19, 15, 15, 0.73);
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}
/*定义鼠标滑过时候的样式*/
.btn_number:hover{
    background-color: rgba(19, 15, 15, 0.29);
}
.btn_comp:hover{
    background-color: rgba(19, 15, 15, 0.29);
}
.info{
    width: 40%;
    margin:auto;
}